<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>First Flask App</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<script>
function myFunction() {
var day= $('#day').val();
var city= $('#city').val();
  $.ajax({
              url: "/joinFUNC",
              type: "POST",
              data: {day:day,
              city:city}
          }).done(function(response) {
            var html= "<p> <b> Temperature : <b><p>";
            response =response.result;
                 $.each(response,function(key,val){
                 console.log(val);
                    html+="<p>"+val+"<p>"
                });
<!--                html +="<br>";-->
                $(".show-data").append(html);
            });
};
  </script>
<body>
<h1>Homie's Express Forecast</h1>
    <p>
            <label>Select day</label> <input type="text" id="day" name="day" list="days"  >
            <datalist id="days">
            <option value="Today">
            <option value="Tomorrow">
            <option value="Aftertomorrow">
            </datalist> <br><br>

            <label>Select city</label> <input type="text" id="city" name="city" list="cities" >
            <datalist id="cities">
            <option value="AMMAN">
            <option value="AMSTERDAM">
            <option value="ASKABAT">
            <option value="ATINA">
            <option value="BAGDAT">
            <option value="BAKU">
            <option value="BELGRAD">
            <option value="BERLIN">
            <option value="BISKEK">
            <option value="BONN">
            <option value="BRUKSEL">
            <option value="BUDAPESTE">
            <option value="BUKRES">
            <option value="CADIR LUNGA">
            <option value="CENEVRE">
            <option value="CEZAYIR">
            <option value="CHICAGO">
            <option value="DOGU KUDUS">
            <option value="DUSANBE">
            <option value="FRANKFURT">
            <option value="G.MAGOSA">
            <option value="GAZZE">
            <option value="GIRNE">
            <option value="GUMULCINE">
            <option value="GUZELYURT">
            <option value="HELSINKI">
            <option value="KABIL">
            <option value="KAHIRE">
            <option value="KANBERRA">
            <option value="KERKUK">
            <option value="KIEV">
            <option value="KIRCAALI">
            <option value="KISINEV">
            <option value="KOLN">
            <option value="KOMRAT">
            <option value="KOPENHAG">
            <option value="KOSTENCE">
            <option value="KUVEYT">
            <option value="LEFKOSA">
            <option value="LONDRA">
            <option value="MADRID">
            <option value="MEDINE">
            <option value="MEKKE">
            <option value="MELBOURNE">
            <option value="MILANO">
            <option value="MINSK">
            <option value="MONTREAL">
            <option value="MOSKOVA">
            <option value="MUNIH">
            <option value="NEWYORK">
            <option value="NUR_SULTAN">
            <option value="OSLO">
            <option value="OTTAWA">
            <option value="PADGORICA">
            <option value="PARIS">
            <option value="PEKIN">
            <option value="PRAG">
            <option value="PRISTINA">
            <option value="RAMALLAH">
            <option value="RIYAD">
            <option value="ROMA">
            <option value="SAM">
            <option value="SARAYBOSNA">
            <option value="SELANIK">
            <option value="SIDNEY">
            <option value="SOFYA">
            <option value="STOCKHOLM">
            <option value="SUMNU">
            <option value="TAHRAN">
            <option value="TARAKLIJA">
            <option value="TASKENT">
            <option value="TIFLIS">
            <option value="TIRAN">
            <option value="TOKYO">
            <option value="USKUP">
            <option value="VALKANES">
            <option value="VARSOVA">
            <option value="VIYANA">
            <option value="WASHINGTON">
            <option value="WELLINGTON">
            <option value="ZENITSA">
            <option value="ZURIH">
            </datalist>

            <button id="clicked" onclick="myFunction()">Click me!</button>

            <a href="database"><button>History</button></a>
            <br><br>
            <p>Would you like to get a long-term forecast? <a href="capitals"><button>Let's GO</button></a> </p>



    <div class="show-data" >
    </div>

<p><img src="https://cdn0.iconfinder.com/data/icons/thiin-weather-cloud-effects/512/DROOLING_RAIN-512.png" alt="A Great HTML Resource"></p>
<hr>
<p>info is provided by <a href="https://mgm.gov.tr/eng/forecast-some-world-cities.aspx" target="_blank">mgm.gov.tr</a>.
<p>a link to my<a href="https://github.com/LordHomie" target="_blank">github page</a></p>
<!-- And add a copyright notice.-->
<p>&#169; Homie Publishing, 2019</p>
</body>
</html>
